.ui-content {
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: visible;
}
.preso-image-auto {
	max-width: 100%;
	max-height: 100%;
}
.preso-image-clone {
	top: -9000px;
	position: absolute;
}
.ui-page.ui-page-header-fixed.ui-page-footer-fixed{
	padding-top:44px;
	padding-bottom: 43px;
}
@media only screen and (orientation : portrait){
	html body .ui-grid-a {
		width:100%;
	}
	html body .ui-grid-a>.ui-block-a, html body .ui-grid-a>.ui-block-b {
		clear: both;
		width: 100%;
	}
	.ui-page.ui-page-header-fixed.ui-page-footer-fixed {
		padding-bottom:400px;
	}
	.ui-block-a, iframe{
		display:none;
	}
	.ui-block-b{
		width:100%;
	}
}
html .ui-listview > li h1,  html .ui-listview > li.ui-li-static{
	white-space: normal;
	text-overflow: initial;
}
.preso-h1 {
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1em;
	margin: .2em;
}
.ui-header .preso-forward-button {
	border-radius:.3125em;
}
.preso-follow-checkbox-wrapper {
	display:inline-block;
	margin: .2em;
	padding: 0;
}
.ui-footer .ui-checkbox {
	margin: 0;
	padding: 0;
}
html .preso-checkbox-list li.ui-btn {
	padding-left: 2.5em;
	background: #fff;
}
.preso-footer-text{
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
}
html .ui-content .preso-inset-list{
	margin:10px;
}
html .ui-panel.preso-panel {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	max-height: 100%;
}
/* Code */
.ui-content pre,
.ui-content code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background: #e5e5e5;
	background: rgba(0,0,0,.05);
	padding: 0 .125em;
}
.ui-content pre {
	padding: 0 1em 1.2em;
	white-space: pre-wrap;
}
.ui-content pre > code {
	padding: 0;
	background: none;
	font-size: .9em;
}
html .syntaxhighlighter {
	background: #2a2a2a;
	border-color: #1d1d1d;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	padding-top: 2px;
	padding-bottom: 2px;
}
.toolbar {
	display:none;
}
.preso-presenter-wrapper {
	height:100%;
	width:50%;
	position: fixed;
	top:0;
	left:0;
	pointer-events: none;
	z-index:99;
	overflow:hidden;
}
.preso-presenter-frame {
	width:100%;
	height:100%;
	overflow: hidden;
}
.preso-notes-page .preso-notes-block {
	padding: 1em;
	font-size: 1.5em;
	font-weight: bold;
}
.preso-notes-page .preso-notes-block .preso-note-slide{
	font-size: .75em;
}
.timeline {
	background: #222;
}
.timeline-bar {
	height: .75em;
	background-color: #ccc;
	position: fixed;
	left: 0;
	top: 50%;
	width:100%;
}
.timeline-entry {
	width: auto;
	height: auto;
	border: 2px solid #ccc;
	border-radius: .25em;
	background: white;
	position: fixed;
	color: #333;
	font-weight: bold;
	text-shadow: none;
	padding: .4em;
	height: 36px;
	font-size: .9em;
	min-width: 9.5em;
}
.timeline-entry.timeline-top {
	top: 50%;
	margin-top: -4.5em;
}
.timeline-entry.timeline-hightop {
	top: 50%;
	margin-top: -9em;
}
.timeline-entry.timeline-extrahightop {
	top: 50%;
	margin-top: -13.5em;
}
.timeline-entry.timeline-bottom {
	top: 50%;
	margin-bottom: -4.5em;
}
.timeline-entry.timeline-lowbottom {
	top: 50%;
	margin-bottom: -9em;
}
.timeline-entry.timeline-extralowbottom {
	top: 50%;
	margin-bottom: -13.5em;
}
.timeline-title {
	font-size: 3em;
	text-align: right;
	padding: .25em;
	color: white;
}
.timeline.slide.out, .timeline.slide.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 1100ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 1100ms;
	animation-timing-function: ease-out;
	animation-duration: 1100ms;
}
.timeline-entry .timeline-entry-pointer {
	position: absolute;
	height:1.5em;
	width: .2em;
	left: 0;
	background: #ccc;
}
.timeline-entry .timeline-entry-pointer-right {
	left: auto;
	right: 0;
}
.timeline-entry.timeline-top .timeline-entry-pointer {
	bottom:-1.5em;
	height:1.5em;
}
.timeline-entry.timeline-hightop .timeline-entry-pointer {
	bottom:-6.5em;
	height:6.5em;
}
.timeline-entry.timeline-extrahightop .timeline-entry-pointer {
	bottom:-11em;
	height:11em;
}
.timeline-entry.timeline-bottom .timeline-entry-pointer {
	top:-1.5em;
	height:1.5em;
}
.timeline-entry.timeline-lowbottom .timeline-entry-pointer {
	top:-6.5em;
	height:6.5em;
}
.timeline-entry.timeline-extralowbottom .timeline-entry-pointer {
	top:-11em;
	height:11em;
}
.timeline-entry-date {
	position: absolute;
	top: .2em;
	right: .2em;
	font-size: .7em;
	font-weight: bold;
	color: red;
}
.timeline-entry-link {
	font-size: .9em;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	bottom: .1em;
}
.timeline .timeline-image {
	height: 100%;
	vertical-align: middle;
	margin-right: .5em;
}
.full-image {
	position: fixed;
	top: 0;
	left: 0;
}
.team-image {
	position: absolute;
	box-shadow: 4px 4px 4px black;
	width: 30%;
}
