<h1>About me</h1>
<div class="ui-grid-a">
	<div class="ui-block-a preso-image-wedge">
		<img src="../../images/placeholder.jpg" data-src="../../images/gears.jpg" alt="Image of gears" title="arschmitz avatar" class="preso-image-auto">
	</div>
	<div class="ui-block-b">
		<ul class="preso-inset-list ui-listview ui-listview-inset ui-corner-all ui-shadow">
			<li class="ui-li-static ui-body-inherit ui-first-child"><h1>Programmer / Web developer in Portland Maine</h1></li>
			<li class="ui-li-static ui-body-inherit"><h1>16 Years experience in web development</h1></li>
			<li class="ui-li-static ui-body-inherit"><h1>Joined the jQuery Mobile team 1.5 years ago</h1></li>
			<li class="ui-li-static ui-body-inherit"><h1>Became jQuery Mobile Development Lead 10 Months ago</h1></li>
			<li class="ui-li-static ui-body-inherit"><h1>Work Full time as a contractor for the jQuery Foundation</h1></li>
			<li class="ui-li-static ui-body-inherit"><h1>Also member of jQuery UI Team</h1></li>
			<li class="ui-li-static ui-body-inherit ui-last-child"><h1>Currently focusing on Merger between jQuery UI and Mobile</h1></li>
		</ul>
	</div>
</div>