<h1>About this presentation <a href="http://bit.ly/1eE8u3N">http://bit.ly/1eE8u3N</a></h1>
<div class="ui-grid-a">
	<div class="ui-block-a">
<?php
echo listview(array("Built using jQuery Mobile",
"Uses all the best practices i will discuss in this presentation",
"Responsive ( works on all devices )",
"Available at <a href=\"https://github.com/arachmitz/jquery-mobile-performance/\">https://github.com/arachmitz/jquery-mobile-performance/</a>"
));
?>
	</div>
	<div class="ui-block-b">
<?php
echo listview(array("Follow along on your laptop tablet at <a href=\"http://mobile-performance.uglymongrel.com/\">http://mobile-performance.uglymongrel.com/</a>",
"Select the follow option in the footer to have the slides automatically follow along",
"Went from just an idea to finished product in under 1 week"
));
?>
	</div>
</div>