<div class="ui-grid-a">
	<div class="ui-block-a">
		<h1>Time for a little story about live demos...",
		<h3>be prepared to FAIL!</h3>
	</div>
	<div class="ui-block-b preso-image-wedge">
		<img src="../../images/placeholder.jpg" data-src="../../images/demo-fail.jpg" alt="safari iphone demo failure screenshot" class="preso-image-auto preso-image-auto-ignoreother">
	</div>
</div>
<?php
echo listview(array("Attempted to release 1.4.1 live on stage at jQuery San Diego",
"Demo failed within seconds",
"I hate failure",
"Will make this work someday...",
));
?>