<img src="/images/nodejs.png" class="full-image">
<--Notes-->
<p>Another standardization across projects was how we do our releases. previously each project had its own adhoc releace script that automated some part of the release process</p>
<p>Now all of the projects use a single release script that is reusable and consistent across projects but extend able for the unique uses of each project</p>
<p>Speaking of which this is a good time to check back in on how the release we started early is doing</p>