<img class="full-image" src="/images/code-review.png">
<--Notes-->
<p>Code reviews were a part of this. While all the teams always did some form of code review we now have consisten standrs for reviewto ensure proper coding style and ensure the quality of all commited code</p>
<p>To aid in speedy review of PR's by both team members and community members both the UI and Mobile project's team leads work full time on jQuery Foundation related work to make sure the libraries continue to move forward</p>