<img src="/images/framework.jpg" class="full-image">
<h1 class="fixed-title">CSS Framework</h1>
<--Notes-->
<p>We recently began taking the first steps towards this goal</p>
<p>We contacted the maintainers of approx 20 different css frameworks as well as css experts from the community to talk over this idea</p>
<p>We then organizaed a call for al those that responded</p>
<p>The turn out was great with developers from, Zurb Foundation, Cardinal, Cascade Framework, Topcoat, 960 Grid / Unsemantic, and Famo.us as well as comunity members</p>
<p>The response was entirely positive from everyone that attended so we are moving forward with the project. Right now there is nothing to show but we have created a repository. And trying to learn from mistakes of the past One of our new community team members from the css framework Sarah Frisk has started by adding a CSS style guide to our contribute website. We dont yet have a name or much else to say about this new project. But stay on the look out there will be more announcements to come</p>
<p>And if you are interested in making this framework become a reality we are allways looking for more contributors dont be shy!</p>
