

<img class="george" src="/images/george-santayana.jpg">
<h1>History</h1>
<div class="quote-2">
"Turning as often as possible from the familiar to the unfamiliar keeps the mind nimble" - George Santayana
</div>
<div class="quote-1">
"Those who cannot remember the past are condemned to repeat it." - George Santayana
</div>
<--Notes-->
<p>The quotes here are both from the philosopher George Santayana, one of these your likely familiar with the other is not as well known. But i believe both of these slides apply well to the process we have been going through in both projects over the last year and a half merging aspects of jQuery UI and Mobile</p>
<p>So i would like to take just a moment to read them</p>
<blockquote cite="George Santayana">
	"Those who cannot remember the past are condemned to repeat it."<cite> - George Santayana</cite>
</blockquote>
<blockquote cite="George Santayana">
	"Turning as often as possible from the familiar to the unfamiliar keeps the mind nimble"<cite> - George Santayana</cite>
</blockquote>
<p>in Moving forward we hope to both learn from our past and use the opportunities that we have had to turn away from the familiar and  experiment and grow over the past few years, bringing the collective knowledge gained from both projects together as we move forward</p>
<p>But in the spirit of the more famous of these quotes lets take a look at our past before we move on to whats coking in the future of jQuery UI and Mobile</p>