<img src="/images/skinput.JPG" class="full-image">
<h1 class="fixed-title">Input Devices</h1>
<--Notes-->
<p>The Next milestone for the merger is mobile support for UI</p>
<p>To make this possible we needed to re-think how we handle input</p>
<p>Currently jQuery ui is built around mouse input and mobile attempts to support both touch and mouse through our vmouse module</p>
<p>Work to acheive this began a branch based on abstracting interaction so that it didnt matter what type of input you wanted to use</p>
