<img class="full-image" src="/images/path-to-2-ee.jpg">
<--Notes-->
<strong>Good Morning Javascript summit!</strong>
<p>I hope everyone is nice and awake and ready to hear about the latest and greatest from the jQuery UI and Mobile projects. We have a lot of exciting things coming from both libraries in the near future.</p>
<p>I titled this talk the path to 2.0 an unexpected journy because before going into all the new features coming up in the two libraries i would like to go into a little history of the two projects and how they came to be where they are today.</p>
<p>And today you are are all lucky enough to see the new extended edition!</p>
<p>I originally wrote this talk for jQuery Chicago in October</p>
<p>In chicago though i was not able to get into nearly as much detail as i would have liked to due to time</p>
<p>With nearly double the length time slot today you will get to see the talk as i originally intended with slides i had to cut the first time restored to their original place in the talk</p>
<p>We have been hard at work on jQuery UI 1.12 and jQuery Mobile 1.5 for about the last year and a half now and they will bring some exciting features to both libraries</p>
<p>A little bit about who i am first though...</p>