<img src="/images/irc.png" class="full-image">
<h1 class="fixed-title black" style="left:15%;">#jqueryui-dev</h1>
<--Notes-->
<p>Our use of irc was the next thing that was standardized. All channels are publicly logged including meetings for community members and other team members to attend or read the meeting notes which are published on <a href="http://meetings.jquery.org">http://meetings.jquery.org</a> shortly after each meetings.</p>
<p>The UI and mobile teams now also share a single irc channel for development. This makes it easier for the teams to both know whats going on with each other. Another point we identified to make sure the teams were working together and staying in sync and aid in communication was to have at least one common team member on both teams.</p>