<img src="/images/merger.jpg" class="full-image">
<--Notes-->
<p>So as you are well aware by now there is a merger still ahead for the jQuery UI and mobile projects</p>
<p>But what exactly does this mean?</p>
<p>Is the mobile project going away?</p>
<p>Is the UI project going away?</p>
<p>Whats happening to the repos?</p>
<p>will there be only one team now?</p>
<p>These are some of the questions iv bee asked a lot since we announced the projects were merging</p>
<p>The more i have thought about this since we began talking about it and announcing it i think calling it a merger is really a bit of a misnomer.</p>
<p>So what exactly is the merger then you may be asking?</p>
<p>Its really a merger of resources, infrastructure, thought and practices.</p>