<img src="/images/merger.jpg" class="full-image">
<--Notes-->
<p>So now that you know how we got here. The question is where do we go from here</p>
<p>That question has come to me in a lot of forms over the last year or so since we started talking about merging the two project through questions like</p>
<p>Whats happening to the two projects?</p>
<p>Is one of the projects going away?</p>
<p>Whats happening to the teams?</p>
<p>The more i have thought about this since we began talking about it and announcing it i think calling it a merger is really a bit of a misnomer.</p>
<p>So what exactly is it then?</p>
<p>Its really a merger of resources, infrastructure, thought and practices.</p>