<img src="/images/extension-cord.jpg" class="full-image">
<h1 class="fixed-title black" style="left:15%;">Mobile Extensions</h1>
<--Notes-->
<p>We do however fully realize that there will be times that for a variety of reasons that out of the box there may be some things about the widgets from UI that we will need to modify to work with our specific needs</p>
<p>This is where the ability to extend widgets introduced into the widget factory in jQuery UI 1.9 becomes so important. It will allow us to construct the widgets in such a way as to have easy extension points for us to be able to extend the functionality for our needs</p>
<p>This is abother place that it becomes important to make sure we have clear communication between teams so that we can build widgets that meet the core requirements and are extensible where it is needed and makes sense</p>