<img src="/images/pointer.jpg" class="" style="width:50%; height:50%; left: 25%; top: 25%; position:absolute; ">
<h1 class="fixed-title black" style="left:15%;">Pointer Events</h1>
<h1 class="fixed-title black" style="top: 75%; margin-left: 0%; left:0%;"><a href="https://code.google.com/p/chromium/issues/detail?id=162757">https://code.google.com/p/chromium/issues/detail?id=162757</a></h1>
<h1 class="fixed-title black" style="top: 85%; left:15%;"><a href="https://code.google.com/p/chromium/issues/detail?id=162757">http://goo.gl/svvGR5</a></h1>
<--Notes-->
<p>Over time and through work with microsoft we realized that the best way to go for this was the pointer events spec</p>
<p>To this end we have been activily working with the pointer events working group and working to bring a polyfill to the UI and mobile libraries through the polymer teams pointer events polyfill</p>
<p> Some of you may have heard about the recent decision by the chrome team to not implement pointer events and by the polymer team to deprecate the pointer events polyfill. </p>
<p>While this was a dissappointment to us we are still working with the chrome team which is in the process of turning the pointer events polyfill over to the jQuery Foundation for continued development</p>
<p>The polyfill is planned for koint development with contributions from IBM, the Dojo foundation, MS Open Tech and even members of the chrome team</p>
<p>We have also been told by the chrome team that they still plan on implmenting improvments with in chrome to make sure that using the polyfill will not cause any undo performance peneltys within chrome</p>
<p>Lastly if you want to see pointer events implemented in chrome The chrome team has said the best way to get them to change their mind is to star the issue below and start using a pointer events polyfill in your projects</p>
<p>So if you believe like many of us that pointer events are the future input model for the web i encourage you to show your support through these steps</p>