<h1>About Me</h1>
<img class="full-image" src="/images/portland-maine.jpg">
<--Notes-->
<p>I'm a programmer and web developer from portland maine</p>
<p>I came to the jQuery Foundation a little over 2 years ago. At the time i had been using jQuery Core and UI for several years in my work, and was starting to use jQuery Mobile for some of my newer projects</p>
<p>At the time i was lucky enough to have been invited to the jQuery Developer Summit where, then project lead Todd Parker approached me about becoming a team member.</p>
<p>From there it was a bit of a whirlwind ride. 2 weeks later i was talking at jQuery Asia in South Korea and i was a full fledged team member with Commit access within a month.</p>
<p>Less then a year after joining the team i took over as Development Lead of the jQuery Mobile when John Bender left the project to go back to School</p>
<p>And most recently in July i became the Project Lead</p>
<p>Professionally I think i am incredibly lucky to be able to now be spending 100% of my development time working with the jQuery Foundation.</p>
<p>Perhaps the best part about working with the jQuery foundation though is the wonderfull group of people i am lucky enough to work with</p>
