<h1>Projects</h1>
<img class="project-image-left" src="/images/jQuery_Mobile-Logo.svg">
<span class="plus">+</span>
<img class="project-image-right" src="/images/jQuery_UI-Logo.svg">
<--Notes-->
<p>I spend the majority of my time working on the jquery mobile and jquery ui projects</p>
<p>One of the main focus's of my work since i began working with the jQuery Foundation in 2012 has been interoperability between the jQuery Mobile and jQuery UI Projects.</p>
<p>This was important to me when i came in because i came from a background using and developing with jQuery UI and while i loved jQuery Mobile there were many pieces missing that UI already had</p>
<p>I am also a big fan of making code as modular and re usable as possible so for me it only made since to just make the libraries inter-operable</p>