<img src="/images/bad-decision.jpg" class="full-image">
<--Notes-->
<p>Pretty much instantly this is what i felt like...</p>
<p>Trouble cropped up, a permissions error. I thought to myself thats odd, it work fine just a few minutes ago...</p>
<p>I decided to try again maybe it was just a fluke, maybe i just typed something wrong?</p>
<p>Permission Denied flashed on my screen again and my stomach sank. But i knew this might happen and i was prepared. With out skipping a beat i continued on.</p>
<p>Thanks to my wonderful teammates in the audience the release still done before my talk finished and ended showing the release live on the website</p>