<h1>Standardizations</h1>
<?php
echo listview(array(
"Communication",
"Infrastructure",
"Documentation",
"Build and module system",
"Tooling",
"Coding Standards",
"Code Review",
"Browser Support"
));
?>
<--Notes-->
<p>When we first began discussing trying to merge parts of the project there were some general areas we saw that we could standardize to help with this process</p>
<p>Read List</p>
<p>By standardizing in ways that made sense across these areas it would make integrating parts of the projects much simplier</p>
