<h1>What I Do</h1>
<img style="top: 3.5em; left: 8%" class="team-image" src="/images/team-anne.jpg">
<img style="top: 17em; left: 68%" class="team-image" src="/images/team-gibbson-alex-rick.jpg">
<img style="top: 18em; left: 3%" class="team-image" src="/images/team-carl.jpg">
<img style="top: 31em; right: 3%" class="team-image" src="/images/team-g.jpg">
<img style="top: 3em; right: 6%" class="team-image" src="/images/team-julian-mike.jpg">
<img style="top: 30em; left: 6%" class="team-image" src="/images/team-tj.jpg">
<img style="top: 10em; left: 35%" class="team-image" src="/images/team-adam.jpg">
<img width="100%" height="100%" class="full-image transparent" src="/images/jQuery-Foundation-Logo.svg">
<--Notes-->
<p>These are just some of the people i am lucky enough to spend my time working with.</p>
<p>I basicly have my dream job being able to spend all my working time contributing to wonderful non profit open source projects that i truly believe in</p>