<h1>Theme</h1>
<?php
echo listview(array("New updated theme",
"Must look and work great on mobile and desktop",
"Responsive",
"Fast",
"Fully Featured",
"Collaboration",
"New Themeroller"
));
?>
<--Notes-->
<p>One of the first pain points we needed to fix to merge the projects and reach 2.0 was our themes</p>
<p>The UI theme and Mobile themes are completely incompatible. In addition the UI theme is dated at this point as well as not being mobile friendly</p>
<p>The mobile theme is modern and looks nice but is heavily based around app design concepts as well as having some technical decisions that we would not make again in hind sight</p>
<p>So to this end we identified key things we wanted from a new theme</p>
<p>It should work for both libraries be modern and responsive looking great on mobile desktop and tablet</p>
<p>Performance was also a must we needed the new theme to be as fast and performant as possible</p>
<p>In addition we wanted it to be a fully featured framework that you could use for your whole site not just for widgets</p>
<p>We also wanted this project to be independant of other jQuery Projects</p>
<p>The last thing we wanted was collaboration we wanted to collaborate with with an existing project we felt closely aligned with our goals</p>
<p>We attempted this approach with several projects but nothing really went anywhere</p>
<p>Thats when we had the idea of trying to not only create a best of bread new CSS framework, but to attempt to create a set of conventions or :pseudo standards for the markup and structure of common components</p>
<p>The idea behind this is to make different JS widget frameworks and different CSS themes or frameworks compatible</p>
<p>This would also help to make sure all different libraries and frameworks follow proper accessability standards and guidelines</p>
