<img src="/images/closing-time.jpg" class="preso-image-full" />
<--Notes-->
<p>Well thats it thats our current plans for the jQuery UI and Mobile projects how we got here and why</p>
<p>When the mobile project began in 2010 i dont think anyone would have expected the journey to turn out the way it did</p>
<p>But i think in the long run we have learned many lessons from this journey and grown both as a team and as individual projects as a result</p>
<p>Thank You! and does anybody have any questions?</p>