<img class="full-image" src="/images/code-review.png">
<--Notes-->
<p>Code reviews are another area that has changed while mobile always did some form of code review we now make sure every commit has been reviewed to ensure proper coding style and ensure that all commited code quality</p>
<p>To aid in speedy review of PR's by both team members and community members both the UI and Mobile project's team leads work full time on jQuery Foundation related work to make sure the libraries continue to move forward</p>