<img class="full-image" src="/images/commits.png">
<--Notes-->
<p>Commits are another area we wanted to clean up. Previously the teams maintained their commit history in different ways. While the mobile teams was fond of merge commits for bug fixes and feature branches the other teams tended to re-base to keep a clean and linear commit history and make sure that in theory if you checkout any given commit on master all tests will pass</p>
<p>Mobile has now adopted this same practice</p>
<p>Another formalization we made was in our commit messages previously while all projects used a similar commit message style it was not completely consistent and there were issues with issues references between trac and github</p>
<p>We now have a single commit message format across all projects and and a clear way to reference issues across projects</p>