<h1>Follow Along</h1>
<h1>Go To <a href="http://presentations.uglymongrel.com/path-to-2.0/">presentations.uglymongrel.com/path-to-2.0</a></h1>
<h1>OR <A href="http://bit.ly/1up8SxL">http://bit.ly/1up8SxL</a></h1>
<h1>and click the follow along button to auto sync with the projector</h1>
<img src="/images/red-arrow-bottom-left.gif" class="red-follow-arrow">
<--Notes-->
<p>You can view this presentation and see extra content i wont show in this presentation by going to one of the links here</p>
<p>If you go there now and check the follow along button in the bottom right ( assuming the internet connection holds out ) you will be able to follow along automatically as I change slides.</p>
<p>Simply un-check the box at any time to stop following. re check at any time to catch back up</p>
<p>The entire slide deck is Built using the current stable version jQuery Mobile and the source code is available on github</p>