

<img class="george" src="/images/george-santayana.jpg">
<h1>History</h1>
<div class="quote-2">
"Turning as often as possible from the familiar to the unfamiliar keeps the mind nimble" - George Santayana
</div>
<div class="quote-1">
"Those who cannot remember the past are condemned to repeat it." - George Santayana
</div>
<--Notes-->
<p>The quotes here are both from the philosopher George Santayana One of these your likely familier with the other is much less known. But i believe both of these slides apply well to the current situation</p>
<p>I added this slide with multiple meanings in mind depending on how this release turned out</p>
<p>Maybe it means i should learn and stop trying live releases?</p>
<p>or maybe it means i have learned the lessons of previous failures and this one will succeed</p>
<p>Ok will really neither of those are true reason for this slide</p>
<p>I think both of these quotes apply very will to the on going merger of the jquery ui and jquery mobile projects</p>
<p>in Moving forward we hope to both learn from our past and use the opportunists that we have had to turn away from the familiar and  experiment and grow over the past few years and bring the collective knowledge together to benefit both projects as we move forward</p>
<p>But in the spirit of the more famous of these quotes "Those who cannot remember the past are condemned to repeat it" and ill not go into a little time line of how and why we are where we are with the two projects today</p>