<img src="/images/jqinfra.svg" class="full-image">
<h1 class="fixed-title black">Infrastructure</h1>
<--Notes-->
<p>Infrastructure is the next area we want to merge. In the beginning there was essentially no shared infrastructure between the projects even though we had many things in common we both needed a branch preview system, we both had download builders, we both had thememrollers, and we both needed consistent api documentation</p>
<p>Really though many of these needs were shared between just the ui and mobile projects but across all the jQuery Projects</p>
