<img class="full-image" src="/images/path-to-2.jpg">
<--Notes-->
<p>The path to 2.0</p>
<p>The title of this talk might be jQuery Mobile: What’s New in 1.5 and the Road to 2.0 but over the last few weeks both some of our plans and the focus of this talk have changed</p>
<p>When i wrote the title and the abstract for this talk our plans for jQuery Mobile 1.5 were a lot different then they are today</p>
<p>At the time 1.5 was focused on navigation and continuing the work we started in 1.4 reviewing old code and making sure our API was complete and well documented.</p>
<p>While some of this work will still be apart of 1.5 the focus has shifted</p>
<p>Instead the story of 1.5 will be about continuing the realization of our plan to merge aspects of the jQuery UI and Mobile projects</p>
<p>Before i tell that story though first a little bit about who i am</p>
