<h1>LIVE DEMOS === BAD IDEA</h1>
<img src="/images/tube-fail.gif" style="margin-top:10%;">
<--Notes-->
<p>So raise your hands how many people have seen someone try a live demo at a conference or meetup or whatever and it failed for some reason?</p>
<p>I have seen a lot of them attempted and they are far too often a bad idea only moments in</p>
<p>I bet more then a few of you here have seen a few hiccups at WWDC or similar where apple even though they spend incredible amounts of money testing and preparing still don't have all their demos go off without a hitch. Fate always still seems to way of catching up and throwing a one wrench in the works</p>
<p>But at the same time live demos are exciting an popular and an important part of many talks and presentations</p>
