<h1>LIVE DEMOS === BAD IDEA</h1>
<img src="/images/tube-fail.gif" style="margin-top:10%;">
<--Notes-->
<p>So raise your hands how many people have seen someone try a live demo durring a talk at a conference or meetup or whatever and it failed for some reason?</p>
<p>Well iv seen a lot of them attempted and they are far too often a bad idea only moments in</p>
<p>I bet more then a few of you here have seen a few hicups at WWDC with apple where they spend incredible amounts of money testing and preparing</p>
