<img src="/images/pointer.jpg" class="full-image">
<h1 class="fixed-title">Pointer Events</h1>
<--Notes-->
<p>Over time and through work with microsoft we realized that the best way to go for this was the pointer events spec</p>
<p>To this end we have been activily working with the pointer events working group and working to bring a polyfill to the UI and mobile libraries potentially through the polymer teams pointer events polyfill</p>
</p>So the next mile stone is support for pointer events</p>