<h1>About Me</h1>
<img class="full-image" src="/images/portland-maine.jpg">
<--Notes-->
<p>I'm a programmer and web developer from portland maine</p>
<p>where i live with my wife and 18 month old son</p>
<p>I came to the jQuery Foundation 2 years ago. At the time i had been using jQuery Core and UI for years and was getting into jQuery Mobile for some of my newer projects</p>
<p>I was lucky enough to have been invited to the jQuery Developer Summit where the then project lead Todd parker approached me about becoming a team member</p>
<p>From there it was a whirlwind ride. 2 weeks later i was talking at jQuery Asia in South Korea and had Commit access within a month</p>
<p>Less then a year after joining the team i took over as Development Lead of the jQuery Mobile project when John Bender left the project</p>
<p>And most recently i became the Project Lead in July</p>
<p>Professionally I think I am one of the luckiest people going, because I get to work full time with the wonderful team at the jQuery Foundation</p>
