<h1>Projects</h1>
<img class="project-image-left" src="/images/jQuery_Mobile-Logo.svg">
<span class="plus">+</span>
<img class="project-image-right" src="/images/jQuery_UI-Logo.svg">
<--Notes-->
<p>The Two projects i spend the majority of my time working on are the jQuery Mobile and jQuery UI Projects</p>
<p>I am the Project lead for the jQuery Mobile project and a team member of the jQuery UI Project</p>
<p>One of the main focus's of my work since i began working with the jQuery Foundation in 2012 has been interoperability between the jQuery Mobile and jQuery UI Projects</p>
