<h1>Projects</h1>
<img class="project-image-left" src="/images/jQuery_Mobile-Logo.svg">
<span class="plus">+</span>
<img class="project-image-right" src="/images/jQuery_UI-Logo.svg">
<--Notes-->
<p>The Two projects i spend the majority of my time working on are the jQuery Mobile ( of course ) and </p>
<p>In addition to my time as project lead for jQuery Mobile i am an active team Memeber of the jQuery UI project</p>
<p>One of the main focus's of my work since i began working with the jQuery Foundation in 2012 has been interoperability between the jQuery Mobile and jQuery UI Projects.</p>
<p>This was important to me when i came in because i came from a strong background using and developing with jQuery UI and while i loved jQuery Mobile there were many pieces missing that UI already had</p>
<p>I am also a big fan of making code as modular and re usable as possible so for me it only made since to just make the libraries inter-operable</p>