<img src="/images/bad-decision.jpg" class="full-image">
<--Notes-->
<p>And this is pretty much instantly what i felt like </p>
<p>Almost as soon as the release started this was me</p>
<p>Permission Denied flashed on my screen and my stomach sank</p>
<p>I tried a second time and same thing this was not working!</p>
<p>But thankfully i was prepared and just glanced over it</p>
<p>And thank to my wonderfull teammates in the audience the release still done before my talk finished and ended showing the release live on the website</p>