<img src="/images/bad-decision.jpg" class="full-image">
<--Notes-->
<p>Pretty much instantly this is what i felt like </p>
<p>Trouble cropped up a permissions error. Thats odd it work fine just a few minutes ago</p>
<p>Permission Denied flashed on my screen again and my stomach sinks. But i knew this might happen and im prepared. With out skipping a beat i continue on.</p>
<p>Thanks to my wonderful teammates in the audience the release still done before my talk finished and ended showing the release live on the website</p>