<img src="/images/san-diego.jpg" class="full-image">
<img src="/images/jquery-san-diego.png" class="san-diego-logo">
<--Notes-->
<p>Back in February I decided to try a live demo for the first time at jQuery San Diego. I know it was orobably a bad idea and i knew it was likely to fail but i decided ( with the urging to my team to go for it</p>
<p>But this was not going to be just any live demo we were going to attempt to release a new version live on stage durring my talk about mobile performance</p>
<p>I Took the stage excited and nervous for how the attempt would turn out</p>
<p>I didn't have to wait long to find out though.</p>