<h1>What I Do</h1>
<img style="top: 7%; left: 8%" class="team-image" src="/images/team-anne.jpg">
<img style="bottom: 39%; left: 68%" class="team-image" src="/images/team-gibbson-alex-rick.jpg">
<img style="top: 35%; left: 3%" class="team-image" src="/images/team-carl.jpg">
<img style="bottom: 10%; right: 3%" class="team-image" src="/images/team-g.jpg">
<img style="top: 11%; right: 6%" class="team-image" src="/images/team-julian-mike.jpg">
<img style="bottom: 8%; left: 6%" class="team-image" src="/images/team-tj.jpg">
<img style="top: 23%; left: 35%" class="team-image" src="/images/team-adam.jpg">