<h1>Theme</h1>
<?php
echo listview(array("New updated theme",
"Must look and work great on mobile and desktop",
"Responsive",
"Fast",
"Fully Featured",
"Collaboration",
"New Themeroller"
));
?>
<--Notes-->
<p>First we need a common theme based on responsive principles that will serve the needs of both projects</p>
<p>To us this means creating a new standalone css framework</p>
<p>This framework will be an indipendant project from jQuery ui or mobile. We want this framework to be bigger then just jQuery ui and mobile though. We want this to be an all encompasing stand alone css framework. It needs to be responsive to serve the needs of both desktop and mobile browsers. We will also need a new themeroller based on the new theme</p>
<p>To acheive this we are looking into collaboration with other existing frameworks of this nature.</p>
