<?php
	echo timeline([
		[
			"date" => "01/14/2010",
			"entry" => "jQuery 1.4",
			"position" => "top",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2010/01/14/jquery-14-released/"
		],
		[
			"date" => "03/23/2010",
			"entry" => "jQuery UI 1.8",
			"position" => "bottom",
			"project" => "jquery-ui",
			"link" => "http://blog.jqueryui.com/2010/03/jquery-ui-18/"
		],
		[
			"date" => "05/03/2010",
			"entry" => "Android 2.2 Froyo",
			"position" => "top",
			"project" => "android",
			"link" => "http://developer.android.com/about/versions/android-2.2-highlights.html"
		],
		[
			"date" => "06/21/2010",
			"entry" => "iOS 4",
			"position" => "bottom",
			"project" => "ios",
			"link" => "https://developer.apple.com/library/ios/releasenotes/General/WhatsNewIniOS/Articles/iPhoneOS4.html"
		],
		[
			"date" => "07/01/2010",
			"entry" => "Blackberry 6",
			"position" => "hightop",
			"project" => "blackberry",
			"link" => "http://us.blackberry.com/software/smartphones/blackberry-6-os.html"
		],
		[
			"date" => "08/13/2010",
			"entry" => "Blog post announce jQuery Mobile Project",
			"position" => "extrahightop",
			"project" => "jquery-mobile",
			"link" => "http://blog.jqueryui.com/2010/08/the-jquery-project-is-proud-to-announce-the-jquery-mobile-project/"
		],
		[
			"date" => "08/24/2010",
			"entry" => "First jQuery Mobile blog post",
			"position" => "extralowbottom",
			"project" => "jquery-mobile",
			"link" => "http://blog.jquerymobile.com/2010/08/"
		],
		[
			"date" => "09/10/2010",
			"entry" => "First commit to jQuery Mobile Repo",
			"position" => "hightop",
			"project" => "jquery-mobile",
			"link" => "https://github.com/jquery/jquery-mobile/commit/1d0fd4a7d8b852e10dfe91cd2920579ea4c30cc3"
		],
		[
			"date" => "10/16/2010",
			"entry" => "jQuery Mobile alpha 1",
			"position" => "lowbottom",
			"project" => "jquery-mobile",
			"link" => "http://blog.jquerymobile.com/2011/11/16/announcing-jquery-mobile-1-0/"
		],
		[
			"date" => "10/20/2010",
			"entry" => "Windows Phone 7",
			"position" => "bottom",
			"project" => "windows-phone",
			"link" => "http://blogs.windows.com/bloggingwindows/2010/10/20/the-windows-phone-7-launch-has-started/"
		],
		[
			"date" => "12/06/2010",
			"entry" => "Android 2.3 Gingerbread",
			"position" => "top",
			"project" => "android",
			"link" => "http://developer.android.com/about/versions/android-2.3-highlights.html"
		],
		[
			"date" => "01/31/2011",
			"entry" => "jQuery 1.5",
			"position" => "top",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2011/01/31/jquery-15-released/"
		],
		[
			"date" => "02/22/2011",
			"entry" => "Android 3.0 Honeycomb",
			"position" => "bottom",
			"project" => "android",
			"link" => "http://developer.android.com/about/versions/android-3.0-highlights.html"
		],
		[
			"date" => "05/03/2011",
			"entry" => "jQuery 1.6",
			"position" => "top",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2011/05/03/jquery-16-released/"
		],
		[
			"date" => "08/01/2011",
			"entry" => "Blackberry 7",
			"position" => "bottom",
			"project" => "blackberry",
			"link" => "http://ca.blackberry.com/support/apps-and-software/blackberry-os-7.html"
		],
		[
			"date" => "10/20/2011",
			"entry" => "Windows Phone 7.5",
			"position" => "bottom",
			"project" => "windows-phone",
			"link" => "http://blogs.windows.com/bloggingwindows/2011/09/27/windows-phone-7-5-mango-update-begins/"
		],
		[
			"date" => "10/12/2011",
			"entry" => "iOS 5",
			"position" => "extralowbottom",
			"project" => "ios",
			"link" => "https://developer.apple.com/library/ios/releasenotes/General/WhatsNewIniOS/Articles/iOS5.html"
		],
		[
			"date" => "10/18/2011",
			"entry" => "Android 4.0 ICS",
			"position" => "top",
			"project" => "android",
			"link" => "http://developer.android.com/about/versions/android-4.0-highlights.html"
		],
		[
			"date" => "11/03/2011",
			"entry" => "jQuery 1.7",
			"position" => "lowbottom",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2011/05/03/jquery-16-released/"
		],
		[
			"date" => "11/16/2011",
			"entry" => "jQuery Mobile 1.0",
			"position" => "hightop",
			"project" => "jquery-mobile",
			"link" => "http://blog.jquerymobile.com/2011/11/16/announcing-jquery-mobile-1-0/"
		],
		[
			"date" => "04/13/2012",
			"entry" => "jQuery Mobile 1.1",
			"position" => "top",
			"project" => "jquery-mobile",
			"link" => "http://blog.jquerymobile.com/2012/04/13/announcing-jquery-mobile-1-1-0/"
		],
		[
			"date" => "07/13/2012",
			"entry" => "Android 4.1 Jellybean",
			"position" => "bottom",
			"project" => "android",
			"link" => "http://developer.android.com/about/versions/jelly-bean.html"
		],
		[
			"date" => "08/09/2012",
			"entry" => "jQuery 1.8",
			"position" => "top",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2012/08/09/jquery-1-8-released/"
		],
		[
			"date" => "09/19/2012",
			"entry" => "iOS 6",
			"position" => "lowbottom",
			"project" => "ios",
			"link" => "https://developer.apple.com/library/ios/releasenotes/General/WhatsNewIniOS/Articles/iOS6.html"
		],
		[
			"date" => "10/02/2012",
			"entry" => "jQuery Mobile 1.2",
			"position" => "hightop",
			"project" => "jquery-mobile",
			"link" => "http://blog.jquerymobile.com/2012/10/02/announcing-jquery-mobile-1-2-0-final/"
		],
		[
			"date" => "10/08/2012",
			"entry" => "jQuery UI 1.9",
			"position" => "bottom",
			"project" => "jquery-ui",
			"link" => "http://blog.jqueryui.com/2012/10/jquery-ui-1-9-0/"
		],
		[
			"date" => "10/20/2012",
			"entry" => "Windows Phone 8",
			"position" => "top",
			"project" => "windows-phone",
			"link" => "http://blogs.windows.com/buildingapps/2012/11/08/internet-explorer-10-brings-html5-to-windows-phone-8-in-a-big-way/"
		],
		[
			"date" => "01/15/2013",
			"entry" => "jQuery 1.9",
			"position" => "hightop",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2013/01/15/jquery-1-9-final-jquery-2-0-beta-migrate-final-released/"
		],
		[
			"date" => "01/17/2013",
			"entry" => "jQuery UI 1.10",
			"position" => "lowbottom",
			"project" => "jquery-ui",
			"link" => "http://blog.jqueryui.com/2013/01/jquery-ui-1-10-0/"
		],
		[
			"date" => "01/30/2013",
			"entry" => "Blackberry 10",
			"position" => "top",
			"project" => "blackberry",
			"link" => "http://us.blackberry.com/campaigns/blackberry-10.html"
		],
		[
			"date" => "02/20/2013",
			"entry" => "jQuery Mobile 1.3",
			"position" => "bottom",
			"project" => "jquery-mobile",
			"link" => "http://blog.jquerymobile.com/2013/02/20/jquery-mobile-1-3-0-released/"
		],
		[
			"date" => "04/18/2013",
			"entry" => "jQuery 2.0",
			"position" => "top",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2013/04/18/jquery-2-0-released/"
		],
		[
			"date" => "05/24/2013",
			"entry" => "jQuery 1.10",
			"position" => "bottom",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2013/05/24/jquery-1-10-0-and-2-0-1-released/"
		],
		[
			"date" => "09/18/2013",
			"entry" => "iOS 7",
			"position" => "hightop",
			"project" => "ios",
			"link" => "https://developer.apple.com/library/ios/releasenotes/General/WhatsNewIniOS/Articles/iOS7.html"
		],
		[
			"date" => "10/31/2013",
			"entry" => "Android 4.4 Kitkat",
			"position" => "top",
			"project" => "android",
			"link" => "http://developer.android.com/about/versions/kitkat.html"
		],
		[
			"date" => "12/23/2013",
			"entry" => "jQuery Mobile 1.4",
			"position" => "bottom",
			"project" => "jquery-mobile",
			"link" => "http://blog.jquerymobile.com/2013/12/23/jquery-mobile-1-4-0-released/"
		],
		[
			"date" => "01/24/2014",
			"entry" => "jQuery 1.11 and 2.1",
			"position" => "top",
			"project" => "jquery",
			"link" => "http://blog.jquery.com/2014/01/24/jquery-1-11-and-2-1-released/"
		],
		[
			"date" => "06/26/2014",
			"entry" => "UI releases 1.11.0",
			"position" => "bottom",
			"project" => "jquery-ui",
			"link" => "http://blog.jqueryui.com/2014/06/jquery-ui-1-11-0/"
		]
	], "mobile-ui-merge");
?>