<h1>jQuery UI 1.12</h1>
<?php
	echo listview(array(
		"Classes Option",
		"Button",
		"Checkboxradio",
		"Controlgroup",
		"Effects Re-write"
	));
?>
<--Notes-->
<p>jQuery UI 1.12 will be a huge step forward for both projects For the first time both libraries will feature new widget specifically written with both projects in mind</p>
<p>The new classes option will address the need to be able to map different theme classes to allow use of the current mobile theme in a jquery ui widget</p>
<p>This option does much more then just that though this allows the mapping of structural classes to any to any other classes you want</p>
<p>For example you could use this option to apply a whole other themeing system altogether like twitter bootstrap or zurb foundation</p>
<p>1.12 will lso feature three new widgets for forms</p>
<p>The button widget has been completely re-written and now for simple uses can be used css only</p>
<p>
