<img src="/images/npm-fail.png" class="full-image">
<--Notes-->
<p>In between 2am and 10am npm stopped allowing self signed certificates breaking essentially every npm install everywhere</p>
<p>And even npms own blog about the change and how to fix it did not actually give a working solution</p>
<p>Of course in the moment on stage i knew non of this only that the release had error-ed while installing</p>
<p>This time however i had not team in the audience to back me up and i had to abandon the planed live release</p>
<p>It took hours before we found and fixed the problem and got the release out</p>
<p>On the bright side though the follow along feature worked ( while the wifi worked ) and the slide desk ran without a hitch</p>
