<img src="/images/vienna.jpg" class="full-image">
<img src="/images/jQuery-Europe.jpg" class="vienna-banner">
<--Notes-->
<p>A few weeks later i was speaking at jQuery Europe</p>
<p>We had another patch release ready to go by this time fixing a few critical bugs</p>
<p>One release fail in a month was just not good enough for me however</p>
<p>And for that matter neither was one live demo in a single talk</p>
<p>Prior to Europe i had been using a keynote presentation with a custom theme made to look like jQuery Mobile</p>
<p>But many of my teammates and people in the audience when they asked about my slides were surprised it was not actually jQuery Mobile and asked why i didn't just use JQM</p>
<p>I didn't have a great excuse and in the weeks in between I rebuilt my entire presentation use the setup you see today complete with the follow feature i hope many of you are using right now.</p>
<p>So in Vienna i had a lot on the line Another live release, unavailing of my new presentation deck and follow along feature.</p>
<p>I checked and prepared 100 times. I was the second talk of the day so there would be no time in the morning</p>
<p>2AM the night before i run through the whole talk including the release and everything goes perfectly even on terrible hotel wifi</p>
<p>The next morning moments before i go on stage the conference wifi cuts out completely.</p>
<p>The wifi returned and i took that stage the talk begins the release starts</p>
<p>As i continue to speak i hope the release is continuing as planned but when i check back i have an unwanted surprise
<p>The one thing i could not count on that morning was npm...</p>