<img src="/images/whats-next.jpg" class="full-image">
<--Notes-->
<p>So now you may be asking your self whats next?</p>
<p>Well we recently came together to try and move the merger of the projects a big step forward</p>
<p>In a few months the jQuery UI and Mobile libraries will do a joint release of jQuery UI 1.12 and jQuery Mobile 1.5</p>
<p>These releases will feature a key new feature which will extend our themeing functionality and making sharing css dependant widgets possible for the first time<p>
<p>you may be asking your self though now hold on wait a minute i thought you said in jQuery mobile 1.4 you already shared the tabs widget?</p>
<p>WELL i have to admit there is some trickery going on with tabs which makes it work</p>
<p>In mobile tabs has no css!</p>
<p>Tabs is a great example how simple generic markup can be shared and reused</p>
<p>In jQuery mobile we have two widgets listview and navbar which format ordered or unordered lists</p>
<p>So we simply in all our examples show you how to these widgets to create they style for the tabs widget and the tabs css itself is then un-needed</p>