<img src="../../images/placeholder.jpg" data-src="../../images/devices.png" alt="jquery foundation logo" title="jquery logo" class="preso-image-auto">
<h1>jQuery Mobile is a HTML5-based user interface system designed to make responsive web sites and apps that are accessible on all smartphone, tablet and desktop devices.</h1>
<--Notes-->
<p>We allow you to create an app like experience easily using tools you already know</p>
<p>Using nothing but HTML5 CSS3 and JS you can now make professional looking and feeling apps or mobile web sites</p>