<img src="../../images/placeholder.jpg" data-src="../../images/mobile-logo.png" alt="jquery foundation logo" title="jquery logo" class="preso-image-auto">
<h1>A brief intro to jQuery Mobile</h1>

<--Notes-->

<p> I'm just going to do a brief intro to jQuery mobile here for those of you that might not be familiar with it before going into optimizing performance in it</p>
<p> I will also talk about a lot of general mobile performance stuff that will be useful outside of jQuery mobile i just wanted to give a very brief intro to jQuery mobile first</p>
