<img src="../../images/placeholder.jpg" data-src="../../images/html5.png" alt="jquery foundation logo" title="jquery logo" class="preso-image-auto">
<h1>Seriously cross-platform with HTML5</h1>
<p>
	jQuery Mobile framework takes the "write less, do more" mantra to the next level: Instead of writing unique applications for each mobile device or OS, the jQuery mobile framework allows you to design a single highly-branded responsive web site or application that will work on all popular smartphone, tablet, and desktop platforms.
</p>
<--Notes-->
<p>When we say seriously cross platform we mean it we use progressive enhancement to attempt to support every possible platform old or new</p>
<p>And our test lab includes over 50 devices on pretty much every platform out there</p>
