<h1>What JQM does for you</h1>
<?php
	echo listview(array(
		"Animated page transitions",
		"Ajax Navigation framework",
		"Normalized touch events",
		"Robust brand able theming system",
		"Widgets designed with mobile devices in mind",
		"Fixing of common mobile browser bugs",
		"Single code base app development when combined with Phonegap",
		"Auto initialization of widgets and framework"
	));
?>

<--Notes-->

<p>The animated transitions and ajax navigation make for a smooth app like experience with out page reloads</p>
<p>Our touch events give common app functionality like swipe and tap</p>
<p>Widgets designed for mobile and that are generally full width by default add to the app experience</p>
<p>The other great feature we provide is smoothing over browser and platform bugs and inconsistency </p>
<p>Our vmouse abstraction for event normalization gives you a sane way to use native touch events</p>
<p>We also allow single code base development across many platforms when combined with phone gap</p>